In [76]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

from utils.data import *

In [77]:
df_sunspot = pd.read_csv("../data/sunspot-processed.csv")
df_flares = pd.read_csv("../data/flares-processed.csv")

In [81]:
get_all_unique_types(df_sunspot)

{'Date': {str},
 'Region': {int},
 'Sunspot Number': {int},
 'Size': {int},
 'Magnetic Classification': {float, str},
 'Location': {str},
 'Zurich Class': {float, str},
 'Penumbra Class': {float, str},
 'Compactness Class': {float, str}}

In [82]:
get_all_unique_types(df_flares)

{'Date': {str},
 'Region': {str},
 'X-ray class': {float, str},
 'X-ray intensity': {float},
 'Start': {str},
 'End': {str},
 'Maximum': {str}}

In [97]:
df_sunspot['Date'] = pd.to_datetime(df_sunspot['Date'])
df_flares['Date'] = pd.to_datetime(df_flares['Date'])
df_flares['Start'] = pd.to_datetime(df_flares['Start'])
df_flares['End'] = pd.to_datetime(df_flares['End'])
df_flares['Maximum'] = pd.to_datetime(df_flares['Maximum'])

In [90]:
df_sunspot['Region'] = df_sunspot['Region'].astype(str)

In [63]:
get_unique_types_of_col(df_flares['Region'])

{str}

In [94]:
df_flares['Region'] = df_flares['Region'].apply(lambda x: x if x != '-' else '')
df_flares['Region'].unique()

array(['', '2857', '2866', ..., '13730', '13734', '13731'], dtype=object)

In [84]:
df_flares[(df_flares['Region'] == '0000') | (df_flares['Region'] == '0')]

,Date,Region,X-ray class,X-ray intensity,Start,End,Maximum
32659,1994-03-06,0,B,3.90,1994-03-06 06:39:00,1994-03-06 06:50:00,1994-03-06 06:40:00
32660,1994-03-06,0,B,3.60,1994-03-06 06:53:00,1994-03-06 07:05:00,1994-03-06 06:56:00
32661,1994-03-06,0,B,8.30,1994-03-06 08:15:00,1994-03-06 08:23:00,1994-03-06 08:17:00
32664,1994-03-06,0,C,2.30,1994-03-06 12:33:00,1994-03-06 12:46:00,1994-03-06 12:33:00
32667,1994-03-06,0,B,3.20,1994-03-06 16:28:00,1994-03-06 16:38:00,1994-03-06 16:29:00
...,...,...,...,...,...,...,...
51020,2003-08-27,0000,B,8.50,2003-08-27 14:33:00,2003-08-27 14:49:00,2003-08-27 14:36:00
51350,2003-10-26,0000,C,4.63,2003-10-26 00:45:00,2003-10-26 00:57:00,2003-10-26 00:50:00
51709,2003-12-21,0000,C,2.88,2003-12-21 04:10:00,2003-12-21 04:21:00,2003-12-21 04:16:00
58816,2010-05-03,0000,B,2.01,2010-05-03 13:38:00,2010-05-03 13:43:00,2010-05-03 13:41:00
58817,2010-05-03,0000,B,2.01,2010-05-03 13:38:00,2010-05-03 13:43:00,2010-05-03 13:41:00

In [219]:
df_flares[(df_flares['Region'] != '0000') & (df_flares['Region'] != '0') & (df_flares['Region'] != '')]

,Date,Region,X-ray class,X-ray intensity,Start,End,Maximum
3,1981-01-03,2857,C,2.2,1981-01-03 15:49:00,1981-01-03 15:58:00,1981-01-03 15:53:00
6,1981-01-03,2857,C,1.2,1981-01-03 21:59:00,1981-01-03 22:10:00,1981-01-03 22:02:00
7,1981-01-03,2866,C,2.0,1981-01-03 22:27:00,1981-01-03 22:41:00,1981-01-03 22:32:00
11,1981-01-04,2872,C,2.2,1981-01-04 16:51:00,1981-01-04 17:09:00,1981-01-04 16:57:00
16,1981-01-05,2875,C,1.8,1981-01-05 13:58:00,1981-01-05 14:11:00,1981-01-05 14:00:00
...,...,...,...,...,...,...,...
84079,2024-06-30,13731,C,2.0,2024-06-30 04:28:00,2024-06-30 04:39:00,2024-06-30 04:34:00
84080,2024-06-30,13734,C,3.8,2024-06-30 05:48:00,2024-06-30 06:39:00,2024-06-30 06:18:00
84081,2024-06-30,13727,C,2.8,2024-06-30 20:56:00,2024-06-30 21:10:00,2024-06-30 21:03:00
84082,2024-06-30,13729,C,2.3,2024-06-30 22:19:00,2024-06-30 22:37:00,2024-06-30 22:28:00
84083,2024-06-30,13729,C,2.2,2024-06-30 23:29:00,2024-06-30 23:55:00,2024-06-30 23:39:00

In [86]:
df_sunspot[df_sunspot['Date'] == '2002-05-19']

,Date,Region,Sunspot Number,Size,Magnetic Classification,Location,Zurich Class,Penumbra Class,Compactness Class
46457,2002-05-19,9945,2,180,A,S02W84,H,S,X
46458,2002-05-19,9948,2,380,B,S21W31,C,H,O
46459,2002-05-19,9950,1,20,A,S05W51,H,S,X
46460,2002-05-19,9951,3,10,B,N12W12,B,X,O
46461,2002-05-19,9954,4,130,B,S22E27,D,A,O
46462,2002-05-19,9955,1,30,A,S14E28,H,S,X
46463,2002-05-19,9957,27,810,BGD,N08E47,E,K,C
46464,2002-05-19,9958,6,100,B,N04E37,C,S,O
46465,2002-05-19,9960,4,100,B,N15E74,D,A,O

In [95]:
get_null_counts(df_sunspot)

Magnetic Classification     138
Zurich Class                  2
Penumbra Class                1
Compactness Class          5450
dtype: int64

In [96]:
get_null_counts(df_flares)

X-ray class        26
X-ray intensity    26
dtype: int64

# something

In [98]:
df_sunspot.columns

Index(['Date', 'Region', 'Sunspot Number', 'Size', 'Magnetic Classification',
       'Location', 'Zurich Class', 'Penumbra Class', 'Compactness Class'],
      dtype='object')

In [99]:
df_flares.columns

Index(['Date', 'Region', 'X-ray class', 'X-ray intensity', 'Start', 'End',
       'Maximum'],
      dtype='object')

In [111]:
df_sunspot_small = df_sunspot.drop(['Size', 'Magnetic Classification', 'Location',
                                    'Zurich Class', 'Penumbra Class', 'Compactness Class'], axis=1)
df_flares_small = df_flares.drop(['X-ray class', 'X-ray intensity', 'Start', 'End', 'Maximum'], axis=1)
print(f"{df_sunspot_small.shape=}, {df_flares_small.shape=}")

df_sunspot_small.shape=(72319, 3), df_flares_small.shape=(84084, 2)

In [114]:
from sklearn.model_selection import train_test_split
from sklearn.ensemble import RandomForestRegressor, RandomForestClassifier
from sklearn.metrics import mean_squared_error, accuracy_score

In [136]:
df_sunspot_small.columns, df_flares_small.columns

(Index(['Date', 'Region', 'Sunspot Number'], dtype='object'),
 Index(['Date', 'Region'], dtype='object'))

In [158]:
df_flares_count_small = df_flares_small.groupby(['Date', 'Region']).size().reset_index(name='Flare Count')
df_merged_small = pd.merge(df_sunspot_small, df_flares_count_small, on=['Date', 'Region'], how='left').fillna({'Flare Count': 0})
df_merged_small['Flare Count'] = df_merged_small['Flare Count'].astype(int)
df_merged_small

            Date Region  Sunspot Number  Flare Count
0     1981-12-01   3477              70            2
1     1981-12-01   3478              32            0
2     1981-12-01   3480               4            0
3     1981-12-01   3481               8            0
4     1981-12-01   3484              35            6
...          ...    ...             ...          ...
72314 2024-06-30  13731               1            1
72315 2024-06-30  13732               4            0
72316 2024-06-30  13733               4            0
72317 2024-06-30  13734               4            2
72318 2024-06-30  13735               1            0

[72319 rows x 4 columns]

In [159]:
df_merged_small['Year'] = df_merged_small['Date'].dt.year
df_merged_small['Month'] = df_merged_small['Date'].dt.month
df_merged_small['Day'] = df_merged_small['Date'].dt.day
df_merged_small.drop('Date', axis=1, inplace=True)

In [160]:
df_merged_small.to_csv("../data/merged_small.csv", index=False)

## Longer data

In [206]:
df_flares2 = df_flares.copy()
df_flares2['Duration'] = (df_flares2['End'] - df_flares2['Start']).dt.total_seconds()
df_flares2.drop(['Start', 'End'], axis=1, inplace=True)

df_flares2['Duration'] = df_flares2['Duration'].astype(int)
get_null_counts(df_flares2)

X-ray class        26
X-ray intensity    26
dtype: int64

In [207]:
df_flares2.dropna(inplace=True)

In [208]:
# Keep strong xray row
xray_class_priority = {'A': 1e-8, 'B': 1e-7, 'C': 1e-6, 'M': 1e-5, 'X': 1e-4}
df_flares2['Max log10 X-ray intensity'] = df_flares2['X-ray class']\
                                  .map(xray_class_priority) * df_flares2['X-ray intensity']
df_flares2['Max log10 X-ray intensity'] = df_flares2['Max log10 X-ray intensity']\
                                  .apply(lambda x: np.log10(x) if x != 0 else 0)
print(df_flares2[df_flares2['Max log10 X-ray intensity'] == 0].shape)

# Drop if max is 0, otherwise that'd be the highest value
df_flares2 = df_flares2[df_flares2['Max log10 X-ray intensity'] != 0]

df_flares2_max_class_tmp = df_flares2.\
  loc[df_flares2.groupby(['Date', 'Region'])['Max log10 X-ray intensity'].idxmax()]

# Count total flares
df_flares2_count_tmp = df_flares2.groupby(['Date', 'Region']).size().reset_index(name='Flare Count')

# Merge
df_flares2 = pd.merge(df_flares2_count_tmp, df_flares2_max_class_tmp, on=['Date', 'Region'], how='left')
df_flares2.drop(['X-ray class', 'X-ray intensity'], axis=1, inplace=True)
df_flares2

(3, 7)

,Date,Region,Flare Count,Maximum,Duration,Max log10 X-ray intensity
0,1981-01-02,,2,1981-01-02 04:44:00,300,-5.744727
1,1981-01-03,,3,1981-01-03 10:30:00,660,-5.292430
2,1981-01-03,2857,2,1981-01-03 15:53:00,540,-5.657577
3,1981-01-03,2866,1,1981-01-03 22:32:00,840,-5.698970
4,1981-01-04,,5,1981-01-04 09:24:00,600,-5.638272
...,...,...,...,...,...,...
29920,2024-06-30,13723,1,2024-06-30 04:16:00,1260,-5.638272
29921,2024-06-30,13727,1,2024-06-30 21:03:00,840,-5.552842
29922,2024-06-30,13729,2,2024-06-30 22:28:00,1080,-5.638272
29923,2024-06-30,13731,1,2024-06-30 04:34:00,660,-5.698970
29924,2024-06-30,13734,2,2024-06-30 06:18:00,3060,-5.420216

# Long merge (wip)

In [213]:
# df_merged2 = pd.merge(df_sunspot_small, df_flares_count_small, on=['Date', 'Region'], how='left').fillna({'Flare Count': 0})
# df_merged_small['Flare Count'] = df_merged_small['Flare Count'].astype(int)

(29925, 6)

In [214]:
df_sunspot['Zurich Class'].unique(), df_sunspot['Penumbra Class'].unique(), df_sunspot['Compactness Class'].unique()

(array(['F', 'E', 'C', 'D', 'B', 'H', 'A', nan, 'X'], dtype=object),
 array(['K', 'A', 'R', 'S', 'X', 'H', nan], dtype=object),
 array(['I', 'O', 'X', 'C', nan], dtype=object))

In [216]:
# df_sunspot[df_sunspot['Zurich Class'] == np.nan].shape[0], df_sunspot[df_sunspot['Penumbra Class'] == np.nan].shape[0], df_sunspot[df_sunspot['Compactness Class'] == np.nan].shape[0]
get_null_counts(df_sunspot)

Magnetic Classification     138
Zurich Class                  2
Penumbra Class                1
Compactness Class          5450
dtype: int64

## Algo
  - Linear Regression
  - Logistic Regression
  - SVM
  - KNN
  - Naive Bayes
  - Random Forest

In [144]:
df_sunspot_small

            Date Region  Sunspot Number
0     1981-12-01   3477              70
1     1981-12-01   3478              32
2     1981-12-01   3480               4
3     1981-12-01   3481               8
4     1981-12-01   3484              35
...          ...    ...             ...
72314 2024-06-30  13731               1
72315 2024-06-30  13732               4
72316 2024-06-30  13733               4
72317 2024-06-30  13734               4
72318 2024-06-30  13735               1

[72319 rows x 3 columns]

In [145]:
df_flares_small

            Date Region
0     1981-01-02
1     1981-01-02
2     1981-01-03
3     1981-01-03   2857
4     1981-01-03
...          ...    ...
84079 2024-06-30  13731
84080 2024-06-30  13734
84081 2024-06-30  13727
84082 2024-06-30  13729
84083 2024-06-30  13729

[84084 rows x 2 columns]

In [140]:
df_flares_count_small = df_flares_small.groupby(['Date', 'Region']).size().reset_index(name='Flare Count')

df_merged_small = pd.merge(df_sunspot_small, df_flares_count_small, on=['Date', 'Region'], how='outer')

df_merged_small['Year'] = df_merged_small['Date'].dt.year
df_merged_small['Month'] = df_merged_small['Date'].dt.month
df_merged_small['Day'] = df_merged_small['Date'].dt.day

df_merged_small.drop(columns=['Date'], inplace=True)
# df_merged_small['Sunspot Number'] = df_merged_small['Sunspot Number'].apply(
#     lambda x: int(x) if pd.notna(x) else 0)
df_merged_small['Flare Count'] = df_merged_small['Flare Count'].apply(
    lambda x: int(x) if pd.notna(x) else 0)
df_merged_small['Region'] = df_merged_small['Region'].apply(
    lambda x: int(x) if x != '' else -1)
df_merged_small

       Region  Sunspot Number  Flare Count  Year  Month  Day
0          -1             NaN            2  1981      1    2
1          -1             NaN            3  1981      1    3
2        2857             NaN            2  1981      1    3
3        2866             NaN            1  1981      1    3
4          -1             NaN            5  1981      1    4
...       ...             ...          ...   ...    ...  ...
88933   13731             1.0            1  2024      6   30
88934   13732             4.0            0  2024      6   30
88935   13733             4.0            0  2024      6   30
88936   13734             4.0            2  2024      6   30
88937   13735             1.0            0  2024      6   30

[88938 rows x 6 columns]

In [130]:
X = df_merged_small[['Region', 'Year', 'Month', 'Day']]
y_sunspot = df_merged_small['Sunspot Number']
y_flare = df_merged_small['Flare Count'].apply(lambda x: 1 if x > 0 else 0)

X_train, X_test, y_sunspot_train, y_sunspot_test = train_test_split(X, y_sunspot, test_size=0.2, random_state=42)
_, _, y_flare_train, y_flare_test = train_test_split(X, y_flare, test_size=0.2, random_state=42)

In [131]:
# regression model
sunspot_model = RandomForestRegressor(random_state=42)
sunspot_model.fit(X_train, y_sunspot_train)
y_sunspot_pred = sunspot_model.predict(X_test)

flare_model = RandomForestClassifier(random_state=42)
flare_model.fit(X_train, y_flare_train)
y_flare_pred = flare_model.predict(X_test)

# Evaluate models
sunspot_rmse = np.sqrt(mean_squared_error(y_sunspot_test, y_sunspot_pred))
flare_accuracy = accuracy_score(y_flare_test, y_flare_pred)

print(f"Sunspot Prediction RMSE: {sunspot_rmse}")
print(f"Flare Prediction Accuracy: {flare_accuracy}")

Sunspot Prediction RMSE: 5.794223559582544
Flare Prediction Accuracy: 0.8360130425005622

In [133]:
from sklearn.metrics import mean_absolute_error, r2_score

In [135]:
sunspot_mae = mean_absolute_error(y_sunspot_test, y_sunspot_pred)
sunspot_r2 = r2_score(y_sunspot_test, y_sunspot_pred)
sunspot_mae, sunspot_r2

(3.3821036653923993, 0.7284249973932417)

In [109]:
df_sunspot_small['Date'] = df_sunspot_small['Date'].apply(lambda x: int(pd.Timestamp(x).timestamp()))
df_flares_small['Date'] = df_flares_small['Date'].apply(lambda x: int(pd.Timestamp(x).timestamp()))

In [110]:
df_flares_small['Date']

0         347241600
1         347241600
2         347328000
3         347328000
4         347328000
            ...
84079    1719705600
84080    1719705600
84081    1719705600
84082    1719705600
84083    1719705600
Name: Date, Length: 84084, dtype: int64